<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!--用来采用数据表，生成实体类-->
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/jeeplateform</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.learn.entity.SysUserEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>